:root {
      --font-color: #94a3b8;
      --primary-color: #0f172a;
      --secondary-color: #dc143c;
      --secondary-color-two: #0d9488;
}

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

body {
      font-family: 'Special Elite', cursive;
      background-color: var(--primary-color);
      color: var(--font-color);
      height: 100vh;
}

a {
      text-decoration: none;
      color: #0d9488;
}

h1 {
      text-align: center;
      font-size: 2rem;
      padding-bottom: .5rem;
      border: 2px solid brown;
}

.btn {
      display: inline-block;
      border: 2px solid var(--secondary-color);
      border-radius: 5px;
      background: none;
      padding: .5rem 1rem;
      color: var(--font-color);
      font-family: 'Special Elite',
            cursive;
      ;
      font-size: 1rem;
      font-weight: 600;
      transition: all 0.3s ease-in-out;
}

.btn:active {
      transform: scale(0.85);
}

footer {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 4rem;
      border: 2px solid brown;
}


/* --- container styling --- */
.container {
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;
      border: 2px solid brown;
      position: relative;
}

.settings {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
}

.open {
      background: var(--secondary-color-two);
      border: none;
      color: var(--primary-color);
}

.open:active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
}

.options {
      border: 1px solid green;
      padding: 1rem;
      background-color: #1e293b;
      border-radius: 5px;
}

.size,
.color {
      margin-top: .8rem;
}

.size label,
.color label {
      display: block;
}

.color span {
      display: flex;
      flex-direction: row;
      align-items: center;
}

@media only screen and (max-width : 568px) {

      h1 {
            font-size: 1.5rem;
      }

      .btn {
            font-size: 10px;
      }



      .container {
            min-height: 55vh;
            max-width: 624px;
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
      }

      .options {
            order: 2;
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
            position: relative;
      }

      .colors {
            flex: 3;
      }

      .board {
            order: 1;
            width: 450px;
            height: 400px;
      }

      .size,
      .colors {
            /* border: 2px solid brown; */
            margin-bottom: 1rem;
      }

      #reset {
            position: absolute;
            top: 11.6rem
      }
}