:root {
      --font-color: #94a3b8;
      --primary-color: #0f172a;
      --secondary-color: #dc143c;
      --secondary-color-two: #0d9488;
}

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

body {
      font-family: 'Special Elite', cursive;
      background-color: #0f172a;
      color: #dc143c;
      height: 100vh;
}

a {
      text-decoration: none;
      color: #0d9488;
}

h1 {
      text-align: center;
      font-size: 2rem;
      padding-bottom: .5rem;
      border: 2px solid brown;
}

footer {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 4rem;
      border: 2px solid brown;
}


/* --- container styling --- */
.container {
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;
      border: 2px solid brown;
      position: relative;
}